@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.details{
    margin: 90px 0px;

    &__content{
        width: 60%;
        margin: auto;

        &-title{
            width: 50%;
            margin: auto;
            @include fontSize(33px);
            color: $color2;
            font-weight: 800;
        }

        &-cards{

            width: 100%;
            margin-top:15px;
            
            @include displayflex(justify-content,center);

            &-card{
                width: 360px;
                height: 280px;

                margin: 5px;
                padding: 5px;

                background-color: $color3;
                color: $color2;
                border-radius: 20px;
                @include displayflex(justify-content, center);
                flex-direction: column;
                align-items: center;

                text-align: center;
    
                    &-icon{
                        width: 60px;
                    }
    
                    &-title{
                        @include fontSize(20px);
                        font-weight: 700;
                        margin-top: 10px;
                    }
    
                    &-desc{
                        @include fontSize(16px);
                        font-weight: 400;
                        margin-top: 10px;
                    }
            }
        }
    
    }
}