//mixins

@mixin resetAll{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scrollbar-width: none; /*firefox*/
}

//reset list
@mixin reset-list{
    list-style: none;
}

//reset <a>
@mixin reset-link($color){
    text-decoration: none;
    color: $color;
}

//full screen
@mixin fullscreen($width,$height){
    width: $width;
    height: $height;
}

//display flex
@mixin displayflex($property, $jty-cnt){
    display: flex;
    #{$property}: #{$jty-cnt};
}


//fontSize

@function calculateRem($size){
    @return ($size/16px) * 1rem;
}

@mixin fontSize($size){
    font-size: calculateRem($size);
}



//placeholder selector

%invisible{
    display: none
};

%visible{
    display: flex
};

//Divider Pages with Dashed Borders

@mixin dashedBorder($size, $color){
    border-top: $size dashed $color;
    border-bottom: $size dashed $color;
}

//Background Image - Cover

@mixin backgroundImage($url){
    background-image: url($url);
    background-size: cover;
}

//wrapper

@mixin wrapperCenter($size, $direction){
    width: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    margin: auto;
}

//title

@mixin title($fontsize, $align, $color){
    width: 100%;
    text-align: $align;
    @include fontSize($fontsize);
    color: $color;
    font-weight: 800;
}

//subtitle

@mixin subtitle($fontsize, $align, $color){
    width:100%;
    text-align: $align;
    @include fontSize($fontsize);
    color: $color;
    font-weight: 400;
}

//text

@mixin text($fontsize, $align, $color){
    width:100%;
    text-align: $align;
    @include fontSize($fontsize);
    color: $color;
    font-weight: 400;
}

