//Variables
$color1: #EA9CA6;
$color2: #420e1f;
$color3: #FAECEC;
$color4: #F8F9FA;
$color5: #f8f9faad;
$color6: #FFF;
$color-button: #77CF58;
$color-button2: #366755;
$color-text: #22262A;

//fonts
$font-text:  'Montserrat', sans-serif;