//Variables
$color1: #E78AA4;
$color2: #420e1f;
$color3: #FAECEC;
$color4: #E8E8E8;
$color5: #A4A4A4;
$color6: #FFF;
$color7: #EA9CA6;
$color8:#69253D;
$color-button: #77CF58;
$color-button2: #366755;
$color-text: #101010;

//fonts
$font-text:  'Montserrat', sans-serif;
$font-special: 'Varela Round', sans-serif;