@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.button{
    background-color: $color-button;
    border-top: 1px solid $color-button2;
    border-left: 2px solid $color-button2;
    border-right: 2px solid $color-button2;
    border-bottom: 5px outset $color-button2;

    color: $color6;

    padding: 25px 75px;

    @include fontSize(16px);
    font-weight: 600;

    border-radius: 50px;

    cursor: pointer;

    margin-bottom: 20px;

    //for tablet
    @include for-tablet-only{
        width: 100%;
        @include fontSize(22px);
        padding: 15px 60px;
    }

    //for phone
    @include for-phone-only{
        width: 100%;
        @include fontSize(15px);
        padding: 25px 30px;
    }
}
