@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.button{
    background-color: $color-button;
    border-top: 1px solid $color-button2;
    border-left: 2px solid $color-button2;
    border-right: 2px solid $color-button2;
    border-bottom: 5px outset $color-button2;

    color: $color6;

    width: 441px;
    height: 66px;

    margin-bottom: 15px;

    @include fontSize(15px);
    font-weight: 600;

    border-radius: 50px;

    cursor: pointer;

    margin-bottom: 20px;


    //animation pulse

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;

    &:hover, &:focus, &:active{
        
        -webkit-animation-name: ef-pulse-grow;
        animation-name: ef-pulse-grow;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;        
    }

    @-webkit-keyframes ef-pulse-grow {
        to {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      @keyframes ef-pulse-grow {
        to {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }

      //end animation

    //for tablet
    @include for-tablet-only{
        width: 100%;
        @include fontSize(22px);
        padding: 15px 60px;
    }

    //for phone
    @include for-phone-only{
        width: 100%;
        @include fontSize(15px);
        padding: 20px 25px;
    }
}
