@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.depositions{
    width: 100vw;
    height: 60vh;

    margin-top: 30px;

    background-color: $color7;
  
    @include displayflex(justify-content,center);
    align-items: center;

    &__desc{
        width: 80%;
        margin: auto;
        
        @include displayflex(justify-content, center);
        flex-direction: column;
        align-items: center;


            &-content{
                text-align: center;

                &-title{
                    width: 100%;
                    font-weight: 800;
                    @include fontSize(30px);
                    color: $color2;
                    margin: 20px 0;

                }
                &-subtitle{
                    width: 100%;
                    font-weight: 400;
                    @include fontSize(16px);
                    font-family: $font-special;
                    color: $color6;
                }

            }
            
            &-images{
                @include displayflex(justify-content, center);
                margin-top: 15px;

                &-image{
                    width: 260px;
                    height: 260px;
                    margin: 5px;
                }
            }
    }
}