@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.sectionDepositions{
    position: relative;
    @include backgroundImage("https://images2.imgbox.com/1a/82/MurtcVYs_o.png");
    background-attachment: fixed;
}

.depositions{

    @include fullscreen(100vw, auto);
    padding: 60px 0px;
    
    @include displayflex(justify-content,center);
    align-items: center;

    //for tablet
    @include for-tablet-only{
      @include fullscreen(100vw, auto); 
      padding: 30px 0px;
    }

    //for phone
    @include for-phone-only{
        @include fullscreen(100vw, auto); 
        padding: 30px 0px;
    }

    &__container{
        width: 80%;
        margin: auto;

        margin: 60px 0px;
        
        @include displayflex(justify-content, center);
        flex-direction: column;
        align-items: center;


            &-content{
                text-align: center;

                .title{
                    @include title(33px, center, $color2);
                    margin: 20px 0;

                    //for tablet
                    @include for-tablet-only{
                        @include fontSize(25px);
                    }

                    //for phone
                    @include for-phone-only{
                        @include fontSize(20px);
                    }

                }
                .subtitle{
                    @include title(16px,center, $color6);
                    font-family: $font-special;
                    margin-bottom: 25px;
                }

            }
            
            &-images{
                @include displayflex(justify-content, center);
                margin-top: 15px;
                margin-bottom: 25px;

                //for phone
                @include for-phone-only{
                    flex-direction: column;
                    align-items: center;
                }

                .images{

                    &__img{
                        width: 250px;
                        height: 250px;
                        margin: 16px;
                        margin-bottom: 30px;

                        cursor: pointer;


                        //for tablet
                        @include for-tablet-only{
                            width: 25%;
                            height: auto;
                        }

                        //for phone
                        @include for-phone-only{
                            width: 80%;
                            height: auto;

                            margin-bottom: 15px;
                        }

                    }

                }

            }
    }
}