@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.subjects{

    @include fullscreen(100vw, auto);
    @include backgroundImage("https://images2.imgbox.com/9e/e3/3aOcljT3_o.png");
    background-attachment: fixed;

    position: relative;

    //for tablet
    @include displayflex(justify-content,space-between);
    align-items: center;
    flex-direction: column;


    &__content{
        width: 70%;

        padding: 100px 0px;

        //for tablet
        @include for-tablet-only{
        width: 90%; 
        }
        //for phone
        @include for-phone-only{
            width: 90%; 

        }


        &-title{
            @include title(38px, center, $color1);
            margin: 30px 0px;

            //for tablet
            @include for-tablet-only{
                @include title(26px, center, $color1);
                margin: 10px 0px;
            }

            //for phone
            @include for-phone-only{
               @include title(26px, center, $color1);
               margin:0 0 10px 0;
            }            

            
        }
    
        &-subtitle{
            @include subtitle(16px, center, $color6);  
           margin-bottom: 30px;

            //for tablet
            @include for-tablet-only{
                @include subtitle(13px, center, $color6);
                margin-bottom: 25px;
            }

            //for phone
            @include for-phone-only{
                @include subtitle(17px, center, $color6);
                margin: 20px 0;
            }
        }
    
        &-titlefooter{
            @include title(38px, center, $color1);
            margin-top: 20px;
            margin-bottom: 80px;

            //for tablet
            @include for-tablet-only{
                @include title(26px, center, $color1);
                margin-bottom: 80px;
            }


            //for phone
            @include for-phone-only{
                @include title(26px, center, $color1);
                margin-bottom: 80px;
             }   
        }

        &-cards{
            @include wrapperCenter(60%,column);
            display: grid;
            grid-template: repeat(32,auto)/repeat(4,1Fr);
            justify-content: center;

            //for tablet
            @include for-tablet-only{
                gap:0;
            }
            //for phone
            @include for-phone-only{
                grid-template: repeat(64,auto)/repeat(2,1Fr);
            }

    
            .card{

                width: 270px;
                height: 270px;
                @include displayflex(justify-content,center);
                align-items: center;
                flex-direction: column;

                padding: 10px;
                margin: 10px;

                cursor: pointer;

                //for tablet
                @include for-tablet-only{
                 width: 180px;
                 height: 180px;
                }

                //for phone
                @include for-phone-only{
                    width: 147px;
                    height: 246px;
                }
    
    
                &__img{
                    width: 180px;
                    height: 180px;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    &:hover{
                        margin-top: 0px;
                        margin-bottom: 30px;
                        transition: all 0.2s ease-out;
                    }

                //for tablet
                @include for-tablet-only{
                    width: 80%;
                    height: auto;
                }

                 //for phone
                 @include for-phone-only{
                    width: 127px;
                    height: 127px;
                }                   


                }
    
                &__desc{
                    @include text(22px, center, $color6);
                    font-weight: 600;

                //for tablet
                @include for-tablet-only{
                    @include text(12px, center, $color6);
                    font-weight: 700;
                   }

                //for phone
                @include for-phone-only{
                    @include text(14px, center, $color6);
                    font-weight: 700;
                   }

                }
    
    
            }
        }
    }

}