@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.dividerUp
{
    width: 100vw;

    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);

}