@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";


.dividerTop {
    position: relative;
    background: $color6;
    height: auto;
  }
  
  .dividerTop::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 15px;
    background-size: 15px 100%;
    background-image: linear-gradient(135deg, $color6 25%, transparent 25%), linear-gradient(225deg, $color6 25%, transparent 25%);
    background-position: 0 0;
  }



.dividerBottom {
    position: relative;
    background: $color6;
    height: auto;
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
  }
  
  .dividerBottom::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 15px;
    background-size: 15px 100%;
    background-image: linear-gradient(135deg, $color6 25%, transparent 25%), linear-gradient(225deg, $color6 25%, transparent 25%);
    background-position: 0 0;
  }

  //Divider Tilts
  .custom-shape-divider-bottom-tilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

      svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 64px;
        transform: rotateY(180deg);
      }

      &__shape-fill {
        fill: $color6;
    }
}


.custom-shape-divider-top-tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
    transform: rotateY(180deg);
  }

  &__shape-fill {
    fill: $color6;
}
}


