@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";


.freeClass{
    width: 100vw;
    height: auto;
    @include backgroundImage("https://images2.imgbox.com/1a/82/MurtcVYs_o.png");

    &__container{
  
        padding: 50px 0px;

        @include displayflex(justify-content,center);
        align-items: center;

        //for tablet
        @include for-tablet-only{
            padding: 5px 0px;
        }


        .content{
            width: 80%;

            @include displayflex(justify-content,center);
            flex-direction: column;
            align-items: center;

            //for tablet
            @include for-tablet-only{
                width: 70%;
            }

            //for phone
            @include for-phone-only{
                width: 95%;
            }

            &__title{
                @include title(35px, center, $color2);
                margin-top: 20px;

                //phone
                @include for-phone-only{

                    &::first-line{
                        color: $color2;
                    }
                }
            }

            &__subtitle{
                @include subtitle(16px, center, $color6);
                margin-top: 20px;
            }

            &__video{
                    border: 2px solid $color6;
                    border-radius: 10px;
                    width:876px;
                    height:493px;
                    margin-bottom: 30px;

                    //for tablet
                    @include for-tablet-only{
                        width: 620px;
                        height: 340px;
                    }
                    //for phone
                    @include for-phone-only{
                        width: 309px;
                        height: 174px;
                    }
            }
        }
    }


}