@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";


.freeClass{
    width: 100vw;
    height: auto;
    background-color: $color7;

    &__container{
  
        padding: 30px 0px;

        @include displayflex(justify-content,center);
        align-items: center;


        .content{
            width: 80%;

            @include displayflex(justify-content,center);
            flex-direction: column;
            align-items: center;

            &__title{
                width: 100%;
                text-align: center;
                @include fontSize(33px);
                color: $color2;
                font-weight: 800;
                margin-top: 20px;
            }

            &__subtitle{
                width: 100%;
                text-align: center;
                @include fontSize(16px);
                color: $color6;
                font-weight: 400;
                margin-top: 20px;
            }

            &__video{
                    border: 2px solid $color6;
                    border-radius: 10px;

                    margin-bottom: 30px;
            }
        }
    }


}