@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.header{

   @include fullscreen(100vw, auto);
    @include backgroundImage("../../assets/banner.png");
    background-attachment:unset;
    padding: 90px 0px;

    position: relative;


    //Version tablet
    @include for-tablet-only{
        @include wrapperCenter(100%,column); 
        padding: 20px 0px 80px 0px;
    }

    //For Phone
    @include for-phone-only{
        @include wrapperCenter(100%,column); 
        padding: 20px 0px 80px 0px;
    }

    &__wrapper{

            @include wrapperCenter(80%,column);
            margin: auto;


                //Version tablet
                @include for-tablet-only{
                  @include wrapperCenter(80%,column); 
                }

                //version phone
                @include for-phone-only{
                    @include wrapperCenter(85%,column); 
                }


            &-logo{
                width: 100%;
                text-align: center;

                .logo{

                    &__img{
                        height: 10vh;
                        margin-bottom: 15px;

                        //Version tablet
                        @include for-tablet-only{
                         height: 8.5vh;
                         margin-bottom: 5px;
                         margin-top: 15px;
                        }

                        //Version phone
                        @include for-phone-only{
                         height: 8vh;
                         margin-top: 25px;
                        }
                    }

                }

            }

            &-description{

                @include displayflex(justify-content, space-evenly);

                padding: 20px 0px;
                margin-top: 40px;

                //Version tablet
                 @include for-tablet-only{
                    margin-top: 10px;
                    flex-direction: column-reverse;
                    }
                //Version phone
                @include for-phone-only{
                    margin-top: 0px;
                    flex-direction: column-reverse;
                    }
                
                .description
                    {
                            &__text{
                                width: 35%;
                                text-align: start;

                                //version tablet
                                @include for-tablet-only{
                                    width: 100%;
                                }

                                //version phone
                                @include for-phone-only{
                                    width: 100%;
                                }

                                    &-title{
                                    @include title(38px, start, $color6);
                                    
                                    //for tablet
                                    @include for-tablet-only{
                                        @include title(27px, start, $color6);
                                    }
                                    //for phone
                                    @include for-phone-only{
                                        @include title(24px, center, $color6); 
                                        margin-top: 15px;
                                     }
                                    }
                                    
                                    &-desc{
                                    @include text(18px,start,$color2);
                                     padding: 15px 0px;

                                    //for phone
                                    @include for-phone-only{
                                        @include text(14px, center, $color2); 
                                     }
                                    }
                             }

                             &__video{
                                border: 2px solid $color6;
                                border-radius: 10px;
                                width: 536px;
                                height: 302px;

                                //for Tablet
                                @include for-tablet-only{
                                    width: 100%;
                                    height: 400px;

                                    margin-bottom:20px
                                }
                                
                                //for phone
                                @include for-phone-only{
                                    width: 100%;
                                    height: 300px;
                                }
                            }
                    }


            }

    }
}