@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.header{

    width: 100vw;
    height: 65vh;

    background-image: url("../../assets/banner.png");
    background-size: cover;
    filter: contrast(82%);

    @include displayflex(justify-content, flex-start);
    align-items: center;
    flex-direction: column;


    &__wrapper{
        width: 80%;
        margin: auto;

    }

    &__logo{
        width: 100%;
        text-align: center;

        &-img{
            height: 11vh;
        }
    }

    &__description{

        @include displayflex(justify-content, space-evenly);

        padding: 20px;
        margin-top: 40px;

        &-text{
            width: 40%;
            text-align: center;

            &-title{

                @include fontSize(38px);
                font-weight: 700;
                color: $color6;
                
            }

            &-desc{
                @include fontSize(16px);
                font-weight: 400;
                color: $color2;
                padding: 15px 0px;
            }
        }
    }

    &__video{
        border: 2px solid $color6;
        border-radius: 10px;
    }
}