@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.certificates{

    @include fullscreen(100vw,auto);

    padding: 80px 0px;

    @include backgroundImage("../../assets/banner3.png");

    @include dashedBorder(8px,white);

    @include displayflex(justify-content,center);

        &__content{
            @include wrapperCenter(50%,column);

            &-title{
                @include title(35px,center,$color1);
                margin-bottom: 20px;
            }

            &-desc{

                width:70%;
                text-align: center;
                color: $color2;
                @include fontSize(16px);
                font-weight: 400;

                margin-bottom: 20px;

            }

            &-seal{
                width: 170px;
                height: 170px;
                margin-bottom: 20px;
            }

            &-divider{
                margin-bottom: 20px;
            }

            &-images{
                width: 550px;
            }
        }
}