@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.certificates{

    @include fullscreen(100vw,auto);
    @include backgroundImage("https://images2.imgbox.com/15/9c/IYoKLY3T_o.png");



        &__container{

            padding: 40px 0px;
            @include displayflex(justify-content,center);


                .content{
                    @include wrapperCenter(50%,column);

                    //for tablet
                    @include for-tablet-only{
                        @include wrapperCenter(95%,column);
                    }

                    //for phone
                    @include for-phone-only{
                        @include wrapperCenter(90%,column);
                    }
        
                    &__title{
                        @include title(35px,center,$color1);
                        margin-bottom: 20px;

                        //for phone
                        @include for-phone-only{
                            @include title(27px,center,$color2);

                            &::first-line{
                                color: $color1;
                            }
                        }
                    }
        
                    &__desc{
        
                        width:70%;
                        @include text(16px, center, $color2);
        
                        margin-bottom: 15px;

                        //for tablet
                        @include for-tablet-only{
                            width:90%;
                            margin: 19px 0px;
                        }

                        //for phone
                        @include for-phone-only{
                            width:90%;
                            margin: 19px 0px;
                        }
        
                    }
        
                    &__seal{
                        width: 170px;
                        height: 170px;
                        margin-bottom: 15px;

                         //for phone
                        @include for-phone-only{
                            width: 80px;
                            height: 80px;
                        }
                    }
        
                    &__images{
                        width: 550px;
                        margin-top: 15px;

                        //for phone
                        @include for-phone-only{
                            width: 303px;
                            height: 241px;
                        }
                    }
                }
        }

        
}