@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.promotion{

    @include fullscreen(100vw, auto);
    @include backgroundImage("../../assets/banner4.png");
    
      &__container{
               @include displayflex(justify-content, center);

               padding: 15px 0px;

               &-content{
                   @include wrapperCenter(40%,column);

                   //for tablet
                   @include for-tablet-only{
                    @include wrapperCenter(80%,column);
                   }

                   //for phone
                   @include for-phone-only{
                    @include wrapperCenter(100%,column);
                    padding: 10px;
                   }
                   
                   .content{
                       &__title{
                           @include title(49px, center, $color8);
                           margin-bottom: 20px;

                           &::first-line{
                               color: $color6;
                           }

                        //for phone
                        @include for-phone-only{
                            @include title(33px, center, $color8);
                        }
                           
                       }

                       &__list{
                           @include reset-list();
                           text-align: center;
                           margin-bottom: 20px;

                           .list{
                               &__item{
                                   @include fontSize(25px);
                                   font-weight: 500;
                                   color: $color6;


                                //for phone
                                @include for-phone-only{
                                    @include fontSize(22px);
                                }                                   

                                   &-indicator{
                                       color: $color8;
                                   }
                               }
                           }
                       }

                       &__oldprice{
                            @include fontSize(25px);
                            font-weight: 500;
                            color: $color6;
                            margin-bottom: 20px;
                       }

                       &__price{
                        @include title(55px, center, $color8);
                        margin-bottom: 20px;


                            //for phone
                            @include for-phone-only{
                                @include fontSize(40px);
                            }
                       }

                       &__price2{
                        @include fontSize(25px);
                        font-weight: 500;
                        color: $color6;
                        margin-bottom: 20px;
                       }

                       &__img{
                           width: 430px;
                           margin: 30px 0px;

                            //for phone
                            @include for-phone-only{
                                width: 333px;
                            }
                       }
                   }
               }    

      }
}